[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2.6"
pipenv = "==2025.0.4"
scrapy = "*"
spacy = "*"
djangorestframework = "*"
djangorestframework-jsonapi = "*"
django-extensions = "*"
inflection = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.13"
